venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/



.idea/

# No artifacts
resources/*
resources/*/*
!resources/*/__init__.py

kolme_musaa/step_1/cache/*/*
!kolme_musaa/step_1/cache/__init__.py

kolme_musaa/step_1/eval_dir/*
!kolme_musaa/step_1/eval_dir/__init__.py

