venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/

# No artifacts
resources/step_1_ready/*.png
kolme_musaa/step_1/cache/*.png
kolme_musaa/step_1/eval_dir/*.png


